In [8]:
import json
import pandas as pd

In [9]:
with open("train.json") as data:
    training_data = json.load(data)
training_data[:10]

[{'cuisine': 'greek',
  'id': 10259,
  'ingredients': ['romaine lettuce',
   'black olives',
   'grape tomatoes',
   'garlic',
   'pepper',
   'purple onion',
   'seasoning',
   'garbanzo beans',
   'feta cheese crumbles']},
 {'cuisine': 'southern_us',
  'id': 25693,
  'ingredients': ['plain flour',
   'ground pepper',
   'salt',
   'tomatoes',
   'ground black pepper',
   'thyme',
   'eggs',
   'green tomatoes',
   'yellow corn meal',
   'milk',
   'vegetable oil']},
 {'cuisine': 'filipino',
  'id': 20130,
  'ingredients': ['eggs',
   'pepper',
   'salt',
   'mayonaise',
   'cooking oil',
   'green chilies',
   'grilled chicken breasts',
   'garlic powder',
   'yellow onion',
   'soy sauce',
   'butter',
   'chicken livers']},
 {'cuisine': 'indian',
  'id': 22213,
  'ingredients': ['water', 'vegetable oil', 'wheat', 'salt']},
 {'cuisine': 'indian',
  'id': 13162,
  'ingredients': ['black pepper',
   'shallots',
   'cornflour',
   'cayenne pepper',
   'onions',
   'garlic paste',
   'milk',
   'butter',
   'salt',
   'lemon juice',
   'water',
   'chili powder',
   'passata',
   'oil',
   'ground cumin',
   'boneless chicken skinless thigh',
   'garam masala',
   'double cream',
   'natural yogurt',
   'bay leaf']},
 {'cuisine': 'jamaican',
  'id': 6602,
  'ingredients': ['plain flour',
   'sugar',
   'butter',
   'eggs',
   'fresh ginger root',
   'salt',
   'ground cinnamon',
   'milk',
   'vanilla extract',
   'ground ginger',
   'powdered sugar',
   'baking powder']},
 {'cuisine': 'spanish',
  'id': 42779,
  'ingredients': ['olive oil',
   'salt',
   'medium shrimp',
   'pepper',
   'garlic',
   'chopped cilantro',
   'jalapeno chilies',
   'flat leaf parsley',
   'skirt steak',
   'white vinegar',
   'sea salt',
   'bay leaf',
   'chorizo sausage']},
 {'cuisine': 'italian',
  'id': 3735,
  'ingredients': ['sugar',
   'pistachio nuts',
   'white almond bark',
   'flour',
   'vanilla extract',
   'olive oil',
   'almond extract',
   'eggs',
   'baking powder',
   'dried cranberries']},
 {'cuisine': 'mexican',
  'id': 16903,
  'ingredients': ['olive oil',
   'purple onion',
   'fresh pineapple',
   'pork',
   'poblano peppers',
   'corn tortillas',
   'cheddar cheese',
   'ground black pepper',
   'salt',
   'iceberg lettuce',
   'lime',
   'jalapeno chilies',
   'chopped cilantro fresh']},
 {'cuisine': 'italian',
  'id': 12734,
  'ingredients': ['chopped tomatoes',
   'fresh basil',
   'garlic',
   'extra-virgin olive oil',
   'kosher salt',
   'flat leaf parsley']}]

In [15]:
train_df = pd.DataFrame.from_dict(training_data, orient="columns")
train_df.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [38]:
cuisine_count = train_df.cuisine.value_counts()
cuisine_count = pd.DataFrame({"count":cuisine_count})
cuisine_count.reset_index(inplace=True)
cuisine_count = cuisine_count.rename(columns={"index":"cuisine"})
cuisine_count

         cuisine  count
0        italian   7838
1        mexican   6438
2    southern_us   4320
3         indian   3003
4        chinese   2673
5         french   2646
6   cajun_creole   1546
7           thai   1539
8       japanese   1423
9          greek   1175
10       spanish    989
11        korean    830
12    vietnamese    825
13      moroccan    821
14       british    804
15      filipino    755
16         irish    667
17      jamaican    526
18       russian    489
19     brazilian    467

In [40]:
cuisine_list = cuisine_count["cuisine"].tolist()
cuisine_list

['italian',
 'mexican',
 'southern_us',
 'indian',
 'chinese',
 'french',
 'cajun_creole',
 'thai',
 'japanese',
 'greek',
 'spanish',
 'korean',
 'vietnamese',
 'moroccan',
 'british',
 'filipino',
 'irish',
 'jamaican',
 'russian',
 'brazilian']

In [ ]:
for i in cuisine_list:
    if train_df["cuisine"] == i:
        i = []
        i.append(train)